.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#input_Field{
    border-radius: 10px;
    border: 10 px transparent solid;
}

.input_container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:9px
}